<div class="well">
  <%= form_for @user do |f| %>
  
    <% if @user.errors.any? %>
      <div class="error_explanation bg-danger text-danger">
        <p><%= pluralize(@user.errors.count, "error") %> prevented this user from being saved:</p>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="row">
      
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
          <%= f.label :username, 'Username:' %> <sup><i class="fa fa-asterisk text-danger"></i></sup>
          <%= f.text_field :username, { class: 'form-control', required: 'required' } %>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
          <%= f.label :employee_number, 'Employee #:' %> <sup><i class="fa fa-asterisk text-danger"></i></sup>
          <%= f.number_field :employee_number, { class: 'form-control', required: 'required' } %>
        </div>
      </div>
      
    </div>
    <div class="row">
      
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
          <%= f.label :first_name, 'First Name:' %> <sup><i class="fa fa-asterisk text-danger"></i></sup>
          <%= f.text_field :first_name, { class: 'form-control', required: 'required' } %>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
          <%= f.label :last_name, 'Last Name:' %> <sup><i class="fa fa-asterisk text-danger"></i></sup>
          <%= f.text_field :last_name, { class: 'form-control', required: 'required' } %>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
          <%= f.label :suffix, 'Suffix:' %>
          <%= f.text_field :suffix, { class: 'form-control' } %>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
          <%= f.label :initials, 'Initials:' %> <sup><i class="fa fa-asterisk text-danger"></i></sup>
          <%= f.text_field :initials, { class: 'form-control', required: 'required' } %>
        </div>
      </div>
      
    </div>
    <div class="row">
      
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="form-group">
          <%= f.label :email, 'Email:' %> <sup><i class="fa fa-asterisk text-danger"></i></sup>
          <%= f.email_field :email, { class: 'form-control', required: 'required' } %>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
          <%= f.label :pin, 'Pin:' %> <sup><i class="fa fa-asterisk text-danger"></i></sup>
          <%= f.text_field :pin, { class: 'form-control', required: 'required' } %>
        </div>
      </div>
      
    </div>
    <div class="row">
      
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
          <%= f.label :background_color, 'Background Color:' %>
          <%= f.color_field :background_color, { class: 'form-control' } %>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
          <%= f.label :text_color, 'Text Color:' %>
          <%= f.color_field :text_color, { class: 'form-control' } %>
        </div>
      </div>
      
    </div>
    <div class="row">
      
      <div class="col-xs-12">
        <div class="checkbox">
          <label>
            <%= f.check_box :is_active %> Active?
          </label>
        </div>
      </div>
      
    </div>
    
    <%= f.submit nil, { class: 'btn btn-primary' } %>
    <%= link_to 'Cancel', users_path, class: 'btn btn-link' %>
  
  <% end %>
</div>