<%= form_for @employee_note do |f| %>

  <% if @employee_note.errors.any? %>
    <div class="error_explanation bg-danger text-danger">
      <p><%= pluralize(@employee_note.errors.count, "error") %> prevented this note from being saved:</p>
      <ul>
        <% @employee_note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    
    <div class="col-xs-12 col-sm-4 col-md-2">
      <div class="form-group">
        <%= f.label :employee, 'Employee:' %> <sup><i class="fa fa-asterisk text-danger"></i></sup>
        <%= f.collection_select(:employee, User.all, :id, :full_name, { include_blank: true }, { class: 'form-control', required: 'required' }) %>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-4 col-md-2">
      <div class="form-group">
        <%= f.label :note_on, 'Date:' %> <sup><i class="fa fa-asterisk text-danger"></i></sup>
        <%= f.date_field :note_on, { class: 'form-control', required: 'required' } %>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-4 col-md-2">
      <div class="form-group">
        <%= f.label :note_type, 'Type:' %> <sup><i class="fa fa-asterisk text-danger"></i></sup>
        <%= f.select :note_type, options_for_select(EmployeeNote.options_for_type, @employee_note.note_type), { include_blank: true }, { class: 'form-control', required: 'required' } %>
      </div>
    </div>
    
  </div>
  
  <div class="row">
    
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <%= f.label :notes, 'Notes:' %> <sup><i class="fa fa-asterisk text-danger"></i></sup>
        <%= f.text_area :notes, { class: 'form-control', rows: 8, required: 'required' } %>
      </div>
    </div>
    
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <%= f.label :follow_up, 'Follow Up:' %>
        <%= f.text_area :follow_up, { class: 'form-control', rows: 8 } %>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-6">
      <div class="form-group">
        <%= f.label :follow_up_on, 'Follow Up Date:' %>
        <%= f.date_field :follow_up_on, { class: 'form-control' } %>
      </div>
    </div>
  
  </div>
  
  <%= f.submit nil, { class: 'btn btn-primary' } %>
  <%= link_to 'Cancel', employee_notes_path, class: 'btn btn-link' %>

<% end %>