<div class="well">
  <%= form_for @shift_note do |f| %>

    <% if @shift_note.errors.any? %>
      <div class="error_explanation bg-danger text-danger">
        <p><%= pluralize(@shift_note.errors.count, "error") %> prevented this note from being saved:</p>
        <ul>
          <% @shift_note.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group<%= ' has-error' if @shift_note.errors[:note_on].any? %>">
          <%= f.label :note_on, required_field_label('Date:'), class: 'control-label' %>
          <%= f.date_field :note_on, { class: 'form-control', required: 'required' } %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group<%= ' has-error' if @shift_note.errors[:shift].any? %>">
          <%= f.label :shift, required_field_label('Shift:'), class: 'control-label' %>
          <%= f.select :shift, options_for_select(ShiftNote.options_for_shift, @shift_note.shift), { include_blank: true }, { class: 'form-control', required: 'required' } %>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group<%= ' has-error' if @shift_note.errors[:note_type].any? %>">
          <%= f.label :note_type, 'Type:', class: 'control-label' %>
          <%= f.select :note_type, options_for_select(ShiftNote.options_for_type, @shift_note.note_type), { include_blank: true }, { class: 'form-control' } %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group<%= ' has-error' if @shift_note.errors[:department].any? %>">
          <%= f.label :department, 'Department:', class: 'control-label' %>
          <%= f.select :department, options_for_select(ShiftNote.options_for_department, @shift_note.department), { include_blank: true }, { class: 'form-control' } %>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-xs-12 col-md-6">
        <div class="form-group<%= ' has-error' if @shift_note.errors[:notes].any? %>">
          <%= f.label :notes, required_field_label('Notes:'), class: 'control-label' %>
          <%= f.text_area :notes, { class: 'form-control', rows: 8, required: 'required' } %>
        </div>
      </div>

    </div>

    <%= f.submit nil, { class: 'btn btn-primary' } %>
    <%= link_to 'Cancel', shift_notes_path, class: 'btn btn-link' %>

  <% end %>
</div>