<h1 style="<%= @h1 %>">Daily Shift Notes Summary: <%= @yesterday.strftime '%m/%d/%y' %></h1>

<h2 style="<%= @h2 %> text-decoration: underline;">First Shift</h2>
<% if @first_shift_notes.size == 0 -%>
  <p style="<%= @p %>">
    <span style="<%= @code %>">No notes entered for 1<sup>st</sup> shift.</span>
  </p>
<% else %>
  <% @first_shift_notes.each do |n| %>
    <p style="<%= @p %> margin-top: 1em;">
      <span style="float: left;">Note entered by <strong><%= n.author.full_name %></strong>:</span>
      <% if n.department? -%><span style="<%= @capsule %> background-color: #71cdff; float: right;"><%= department_name n.department %></span><% end %>
      <% if n.note_type? -%><span style="<%= @capsule %> background-color: #62fda0; float: right;"><%= n.note_type %></span><% end %>
    </p>
    <div style="<%= @clearfix %>"><!----></div>
    <div style="<%= @well %>">
      <p style="<%= @p %>"><%= n.formatted_notes %></p>
      <% if n.attachments.size > 0 -%>
        <p style="<%= @p_half_margin %>"><small><strong style="text-transform: uppercase;">Attachments:</strong></small></p>
        <ul style="<%= @list_group %>">
          <% n.attachments.each_with_index do |a, i| %>
            <li style="<%= i == n.attachments.size - 1 ? @list_group_li_bottom : @list_group_li %>"><%= show_attachment_email a %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
<% end %>

<h2 style="<%= @h2 %> text-decoration: underline;">Second Shift</h2>
<% if @second_shift_notes.size == 0 -%>
  <p style="<%= @p %>">
    <span style="<%= @code %>">No notes entered for 2<sup>nd</sup> shift.</span>
  </p>
<% else %>
  <% @second_shift_notes.each do |n| %>
    <p style="<%= @p %> margin-top: 1em;">
      <span style="float: left;">Note entered by <strong><%= n.author.full_name %></strong>:</span>
      <% if n.department? -%><span style="<%= @capsule %> background-color: #71cdff; float: right;"><%= department_name n.department %></span><% end %>
      <% if n.note_type? -%><span style="<%= @capsule %> background-color: #62fda0; float: right;"><%= n.note_type %></span><% end %>
    </p>
    <div style="<%= @clearfix %>"><!----></div>
    <div style="<%= @well %>">
      <p style="<%= @p %>"><%= n.formatted_notes %></p>
      <% if n.attachments.size > 0 -%>
        <p style="<%= @p_half_margin %>"><small><strong style="text-transform: uppercase;">Attachments:</strong></small></p>
        <ul style="<%= @list_group %>">
          <% n.attachments.each_with_index do |a, i| %>
            <li style="<%= i == n.attachments.size - 1 ? @list_group_li_bottom : @list_group_li %>"><%= show_attachment_email a %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
<% end %>

<h2 style="<%= @h2 %> text-decoration: underline;">Third Shift</h2>
<% if @third_shift_notes.size == 0 -%>
  <p style="<%= @p %>">
    <span style="<%= @code %>">No notes entered for 3<sup>rd</sup> shift.</span>
  </p>
<% else %>
  <% @third_shift_notes.each do |n| %>
    <p style="<%= @p %> margin-top: 1em;">
      <span style="float: left;">Note entered by <strong><%= n.author.full_name %></strong>:</span>
      <% if n.department? -%><span style="<%= @capsule %> background-color: #71cdff; float: right;"><%= department_name n.department %></span><% end %>
      <% if n.note_type? -%><span style="<%= @capsule %> background-color: #62fda0; float: right;"><%= n.note_type %></span><% end %>
    </p>
    <div style="<%= @clearfix %>"><!----></div>
    <div style="<%= @well %>">
      <p style="<%= @p %>"><%= n.formatted_notes %></p>
      <% if n.attachments.size > 0 -%>
        <p style="<%= @p_half_margin %>"><small><strong style="text-transform: uppercase;">Attachments:</strong></small></p>
        <ul style="<%= @list_group %>">
          <% n.attachments.each_with_index do |a, i| %>
            <li style="<%= i == n.attachments.size - 1 ? @list_group_li_bottom : @list_group_li %>"><%= show_attachment_email a %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
<% end %>