<h1 style="<%= @h1 %>">Supervisor Commented on Shift Note</h1>
<p style="<%= @p %> margin-top: 1em;">
  <span style="float: left;">You entered the following note on <%= @note.note_on.strftime '%m/%d/%y' %> on <%= @note.shift.ordinalize %> shift:</span>
  <% if @note.department? -%><span style="<%= @capsule %> background-color: #71cdff; float: right;"><%= department_name @note.department %></span><% end %>
  <% if @note.note_type? -%><span style="<%= @capsule %> background-color: #62fda0; float: right;"><%= @note.note_type %></span><% end %>
</p>
<div style="<%= @clearfix %>"><!----></div>
<div style="<%= @well %>">
  <p style="<%= @p_no_margin %>"><%= format_line_breaks @note.notes %></p>
  <% if @note.attachments.size > 0 -%>
    <p style="<%= @p_half_margin %> margin-top: 1em;"><small><strong style="text-transform: uppercase;">Attachments:</strong></small></p>
    <ul style="<%= @list_group %>">
      <% @note.attachments.each_with_index do |a, i| %>
        <li style="<%= i == @note.attachments.size - 1 ? @list_group_li_bottom : @list_group_li %>"><%= show_attachment_email a %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<p style="<%= @p_bold_caps %> margin-top: 1em;"><%= @note.supervisor.full_name %> added notes on <%= @note.supervisor_notes_at.strftime '%m/%d/%y' %>:</p>
<div style="<%= @well %>">
  <p style="<%= @p_no_margin %>"><%= format_line_breaks @note.supervisor_notes %></p>
</div>